.projectContainer {
    position: relative;
    height: min-content;
}

.projects {
    height: min-content;
    position: relative;
    padding-top: 40px;
    /* margin-bottom: 200px; */
}

.projects::before {
    content: '';
    position: absolute;
    /* top: 100px; */
    top: 0;
    left: 20px;
    width: 3px;
    height: 95%;
    background-color: rgba(110, 173, 118, 0.5);
    border-radius: 100px;
}

.soleProject {
    position: relative;
    height: max-content;
    /* margin-top: 100px; */
    text-align: left;
    margin-left: 7px;
}

.soleProject:not(:first-child) {
    margin-top: 100px;
}

.bulletMarker {
    width: 30px;
    position: absolute;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid gray; */
    background-color: rgba(19, 25, 33, 1);
}

.projectImage {
    width: 100%;
    height: clamp(180px, 10%, 260px);
    position: relative;
    z-index: 3;
    overflow: hidden;
    /* background-color: gray; */
    -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* z-index: 4; */
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
    background-size: cover!important;
    margin-top: -20px;
    background-repeat: no-repeat!important;
}

.projectImage img {
    border-radius: 10px;
    width: 100%;
}

.projectTitle {
    color: var(--text-white);
    font-family: var(--font-normal2);
    font-size: var(--font-l);
    font-weight: 600;
}

.technologiesUsed {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 10px;
    margin-top: 15px;
}

.projectFeatures {
    /* border: 1px solid gray; */
    margin-left: -34px;
    position: relative;
    background-color: var(--btn-background);
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    padding-left: 0px;
    margin-top: -16px;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 10px;
}

.aboutTitle {
    /* font-size: var(--font-n); */
    font-size: 17px;
    font-family: var(--font-normal2);
    border: 1px solid var(--text-gray);
    font-weight: 500;
    display: block;
    position: relative;
    cursor: default;
    z-index: 2;
    white-space: nowrap;
    min-width: 120px;
    width: min-content;
    text-align: center;
    height: 35px;
    /* padding: 3px 14px; */
    box-shadow: 3px 3px 0px 0px rgba(255, 255, 255, 0.1);
    padding: 3px 5px;
    /* border: 1px solid gray; */
    background-color: rgb(13, 17, 22);
    margin-left: -50px;
    color: var(--text-gray);
}

.featureList {
    line-height: 30px;
    list-style: square;
}

.bulletCircle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid rgba(110, 173, 118, 0.5);
    top: 8px;
    left: 8px;
}

.aboutProject {
    /* border: 1px solid gray; */
    color: var(--text-gray);
    font-size: var(--font-n);
    padding-left: 50px;
}