.projectContainer {
    display: block;
    height: min-content;
}

.projects {
    min-height: 180vh;
    position: relative;
    /* border: 1px solid red; */
    padding-top: 100px;
    padding-bottom: 700px;
}

.projects::before {
    content: '';
    position: absolute;
    top: 100px;
    left: 20px;
    width: 3px;
    height: 70%;
    background-color: rgba(110, 173, 118, 0.5);
    border-radius: 100px;
}

.soleProject {
    position: relative;
    /* border: 1px solid gray; */
    height: max-content;
    margin-top: 200px;
    text-align: left;
    margin-left: 7px;
}

.soleProject:first-child {
    margin-top: 100px;
}

.soleProject:last-child {
    /* border: 1px solid gray; */
}

.bulletMarker {
    width: 30px;
    position: absolute;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid gray; */
    background-color: rgba(25, 25, 25, 1);
}

.imageContainer {
    height: 100%;
    /* border: 1px solid gray; */
    top: 300px;
    width: 100%;
    position: absolute;
}

.projectImage {
    width: 100%;
    background-color: gray;
    margin-top: 300px;
    z-index: 4;
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
}

.projectTitle {
    color: var(--text-green);
    font-size: var(--font-l);
    font-weight: 600;
}

.technologiesUsed {
    /* border: 1px solid gray; */
}

.projectFeatures {
    /* border: 1px solid gray; */
}

.aboutTitle {
    font-size: var(--font-m);
    color: var(--text-white);
}

.featureList {
    line-height: 34px;
}

.projectImage img {
    width: 100%;
    border-radius: 10px;
}

.bulletCircle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid rgba(110, 173, 118, 0.5);
    top: 8px;
    left: 8px;
}

.aboutProject {
    /* border: 1px solid gray; */
    color: var(--text-gray);
    font-size: var(--font-n);
    padding-left: 50px;
}