.blogContainer {
    /* border: 1px solid red; */
    height: min-content;
}

.blogs {
    /* border: 1px solid gray; */
    margin-top: 100px;
    display: flex;
    flex-flow: column nowrap;
    column-gap: 10px;
    row-gap: 30px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 150px;
    height: min-content;
}