.tag {
    padding: 3px 14px;
    border-radius: 100px;
    width: min-content;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: default;
    /* border: 1px solid var(--text-green); */
    color: var(--text-white);
    font-family: var(--font-normal2);
    font-weight: 400;
    border: 1px solid transparent;
    font-size: var(--font-n);
    background-color: var(--btn-background);
}

.tag:hover {
    border: 1px solid var(--text-white);
}