.headerContainer {
    width: 100%;
    height: auto;
    font-family: ubuntu, sans-serif;
}

.header {
    padding-bottom: 300px;
    position: relative;
    padding-top: 150px;
    text-align: left;
}

.name {
    color: var(--text-green);
    font-family: var(--font-heading);
    font-size: var(--font-xxl);
    font-weight: bolder;
}

.tagline {
    font-size: var(--font-xl);
    font-weight: bolder;
    font-family: var(--font-subhead);
    color: var(--text-gray);
}

.resumeLink {
    width: 100%;
    border: 1px solid red;
}