.socialIcons {
    /* display: flex; */
    position: fixed;
    bottom: 0px;
    left: clamp(10px, 1.5vw, 30px);
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: var(--btn-background);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 40px;
    row-gap: 15px;
    z-index: 6;
}

.socialIcon {
    transition: 0.2s all ease-in-out;
    font-size: 21px;
    color: var(--text-white);
    border: 1px solid transparent;
    width: 40px;
    /* border-radius: 30px; */
    cursor: pointer;
}

.socailIcon:active {
    background-color: rgba(255, 255, 255, 0.6);
}

.socialIcon:hover {
    /* border: 1px solid var(--text-white); */
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
}