.home {
    height: 657vh;
    font-family: var(--font-normal);
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 70px;
    position: relative;
}

.main {
    height: 100vh;
    z-index: 2;
}