.home {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-normal1);
    width: 100%;
    height: min-content;
    /* overflow: hidden; */
    /* border: 1px solid gray; */
    padding-top: 70px;
    /* padding-bottom: 100px; */
}

.sectionTitle {
    font-family: var(--font-heading);
    /* text-transform: uppercase; */
    color: var(--text-green);
    font-weight: 600;
    /* letter-spacing: 2px; */
    font-size: var(--font-l);
    width: 100%;
    margin-bottom: 100px;
    margin-top: 200px;
    text-align: left;
    /* padding: 5px 0px; */
}

.main {
    width: 85vw;
    max-width: 950px;
    margin-bottom: 200px;
    z-index: 2;
}