.home {
    height: 657vh;
    font-family: var(--font-normal);
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 70px;
    position: relative;
}

.sectionTitle {
    font-family: var(--font-heading);
    color: var(--text-green);
    font-weight: bold;
    font-size: var(--font-l);
    width: 100%;
    text-align: left;
    /* padding: 5px 0px; */
    padding-left: 5px;
}

.main {
    height: 100vh;
    z-index: 2;
}