.button {
    position: relative;
    display: block;
    color: var(--text-green);
    padding: 14px 40px;
    border-radius: 40px;
    letter-spacing: 1.5px;
}

.linkedElement:active {
    border: 1px solid white;
    transform: scale(1.05);
}

.linkedElement {
    border-radius: 100px;
    width: min-content;
    transition: 0.3s all cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
    border: 1.5px solid var(--text-green);
}

.linkedElement:hover {
    background-color: rgba(110, 173, 118, 0.1);
}