.clickable {
    position: relative;
}

.clickable::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* bottom: -50%; */
    /* left: 20%; */
    background-color: transparent;
    width: 10px;
    height: 10px;
    transition: 0.07s transform ease-in;
    border-radius: 50%;
}

.clickable:active::after {
    transform: scale(30);
    background-color: rgba(110, 173, 118, 0.1)
}