.menu, .menuItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    /* background-color: rgba(0, 3, 6, 1); */
    /* width: 500px; */
    /* display: none; */
    /* position: relative; */
    /* height: 40px; */
}

.menuItem {
    width: 125px;
    color: var(--text-white);
    height: 40px;
    transition: 0.3s all ease-in-out;
    position: relative;
    z-index: 1;
    border: 2px solid transparent;
    cursor: pointer;
}

.optionText {
    position: relative;
    padding-bottom: 3px;
}

.optionText::after {
    content: '';
    transition: 0.5s width cubic-bezier(0.45, 0.80, 0, 1.30);
    /* transition-delay: 200ms; */
    width: 0%;
    border-radius: 20px;
    height: 2px;
    background-color: var(--text-green);
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.menuItem:hover {
    color: var(--text-green);
}

.menuItem:hover .optionText::after {
    width: 100%;
}

.menuItem:active .optionText::after {
    width: 100%;
}