.menu, .menuItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    /* background-color: rgba(0, 3, 6, 1); */
    /* width: 500px; */
    /* display: none; */
    /* position: relative; */
    /* height: 40px; */
}

.menuItem {
    width: 125px;
    color: var(--text-white);
    height: 40px;
    transition: 0.3s all ease-in-out;
    position: relative;
    z-index: 1;
    border: 2px solid transparent;
    cursor: pointer;
}

.menuItem:hover {
    color: var(--text-green);
}