@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.App {
  text-align: center;
  font-size: 19px;
  color: var(--main-text-color);
  font-family: 'Nunito', sans-serif;
}

* {
  box-sizing: border-box!important;
}

:root {
  --main-text-color: rgba(255, 255, 255, 0.8);
  --main-back-color: rgba(0, 0, 0, 0.9);
  --logo: rgba(255, 255, 255, 0.7);
  --main-marker: rgba(255, 255, 255, 0.1);
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .navIcon {
    display: flex;
  }
  .main {
    padding-left: 20px;
    padding-right: 20px
  }
  .menuContainer {
    background-color: var(--main-back-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }
  .menu {
    flex-flow: column;
    position: relative;
    row-gap: 20px;
  }
  /* controlling the marker */
  .menuItem:nth-child(1):hover~.marker {
    transform: translateY(0px);
  }
  .menuItem:nth-child(2):hover~.marker {
    transform: translateY(60px);
  }
  .menuItem:nth-child(3):hover~.marker {
    transform: translateY(120px);
  }
  .menuItem:nth-child(4):hover~.marker {
    transform: translateY(180px);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .navIcon {
    display: flex;
  }
  .main {
    padding-left: 80px;
    padding-right: 80px;
  }
  .menuContainer {
    background-color: rgba(255, 255, 255, 0.124);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }
  .menu {
    flex-flow: column;
    position: relative;
    row-gap: 20px;
  }
  /* controlling the marker */
  .menuItem:nth-child(1):hover~.marker {
    transform: translateY(0px);
  }
  .menuItem:nth-child(2):hover~.marker {
    transform: translateY(60px);
  }
  .menuItem:nth-child(3):hover~.marker {
    transform: translateY(120px);
  }
  .menuItem:nth-child(4):hover~.marker {
    transform: translateY(180px);
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .navIcon {
    display: none!important;
  }
  .main {
    padding-left: 140px;
    padding-right: 140px;
  }
  .menu {
    display: flex!important;
    width: 500px;
    flex-flow: row;
    height: 40px;
    position: relative;
  }
  .menuContainer {
    background-color: transparent;
    display: flex!important;
    position: relative;
    width: auto;
    height: auto;
  }
  .menuItem:nth-child(1):hover~.marker {
    transform: translateX(0px);
  }
  .menuItem:nth-child(2):hover~.marker {
    transform: translateX(125px);
  }
  .menuItem:nth-child(3):hover~.marker {
    transform: translateX(250px);
  }
  .menuItem:nth-child(4):hover~.marker {
    transform: translateX(375px);
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .navIcon {
    display: none!important;
  }
  .main {
    padding-left: 200px;
    padding-right: 200px;
  }
  .menuContainer {
    background-color: transparent;
    display: flex!important;
    width: auto;
    position: relative;
    height: auto;
  }
  .menu {
    display: flex!important;
    width: 500px;
    height: 40px;
    position: relative;
  }
  .menuItem:nth-child(1):hover~.marker {
    transform: translateX(0px);
  }
  .menuItem:nth-child(2):hover~.marker {
    transform: translateX(125px);
  }
  .menuItem:nth-child(3):hover~.marker {
    transform: translateX(250px);
  }
  .menuItem:nth-child(4):hover~.marker {
    transform: translateX(375px);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  .navIcon {
    display: none!important;
  }
  .menuContainer {
    background-color: transparent;
    display: flex!important;
    position: relative;
    width: auto;
    height: auto;
  }
  .menu {
    width: 500px;
    height: 40px;
    display: flex!important;
    position: relative;
  }
  .menuItem:nth-child(1):hover~.marker {
    transform: translateX(0px);
  }
  .menuItem:nth-child(2):hover~.marker {
    transform: translateX(125px);
  }
  .menuItem:nth-child(3):hover~.marker {
    transform: translateX(250px);
  }
  .menuItem:nth-child(4):hover~.marker {
    transform: translateX(375px);
  }
}