@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@font-face {
  font-family: 'Proxima-Nova-Bold';
  font-weight: 900;
  src: local('Proxima-Nova-Bold'), url(./Fonts/Proxima\ Nova\ Bold.otf) format('opentype');
}

@font-face {
  font-family: 'ProximaNova-Regular';
  font-weight: 900;
  src: local('ProximaNova-Regular'), url(./Fonts/ProximaNova-Regular.otf) format('opentype');
}

.App {
  text-align: center;
  font-size: var(--font-n);
  width: 100vw;
  height: min-content;
  color: var(--text-white);
}

a {
  text-decoration: none;
  color: var(--font-normal);
}

* {
  box-sizing: border-box!important;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --text-white: rgba(255, 255, 255, 0.7);
  --text-gray: rgba(255, 255, 255, 0.5);
  --text-green: #6EAD76;
  /* --main-back-color: rgba(0, 0, 0, 0.9); */
  --main-dark-back: rgb(10, 14, 20);
  --main-back-color: rgba(19, 25, 33, 1);
  --logo: rgba(255, 255, 255, 0.7);
  --main-marker: rgba(255, 255, 255, 0.1);
  --btn-background: rgba(255, 255, 255, 0.07);
  /* fonts */
  --font-normal1: 'Open Sans', sans-serif;
  --font-normal2: 'Jost', sans-serif;
  --font-heading: 'Manrope', sans-serif;
  --font-subhead: 'Manrope', sans-serif;
  --font-normal3: 'Open Sans', sans-serif;
  --font-serif: 'Roboto Slab', serif;
  /* font-sizes */
  --font-n: clamp(16px, 2vw, 18px);
  --font-s: clamp(12px, 8vw, 15px);
  --font-xxl: clamp(40px, 8vw, 75px);
  --font-xl: clamp(25px, 7vw, 50px);
  --font-m: clamp(20px, 2vw, 24px);
  --font-l: clamp(20px, 5vw, 30px);
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 630px) {
  .navIcon {
    display: flex;
  }
  .navspacer {
    display: none;
  }
  .menuContainer {
    background-color: var(--main-dark-back);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
  }
  .menu {
    flex-flow: column;
    position: relative;
    row-gap: 20px;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .userImageContainer {
    order: 2;
    margin-top: 60px;
  }
  .aboutDescription {
    order: 1;
  }
  .projectImage {
    top: 65vh;
  }
  .projectImage {
    height: 380px;
  }
  .blogs {
    justify-content: center;
  }
  .blogImage {
    display: none;
  }
  .socialIcons {
    display: none;
  }
  .socialMenu {
    display: flex;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 630px) {
  .navIcon {
    display: flex;
  }
  .navspacer {
    display: none;
  }
  .menuContainer {
    background-color: var(--main-dark-back);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }
  .menu {
    flex-flow: column;
    position: relative;
    row-gap: 20px;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .userImageContainer {
    order: 2;
    margin-top: 60px;
  }
  .aboutDescription {
    order: 1;
  }
  .projectImage {
    height: 400px;
  }
  .blogs {
    justify-content: space-around;
  }
  .blogImage {
    display: block;
  }
  .socialIcons {
    display: none;
  }
  .socialMenu {
    display: flex;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .navIcon {
    display: none!important;
  }
  .navspacer {
    display: block;
  }
  .menu {
    display: flex!important;
    width: 500px;
    flex-flow: row;
    height: 40px;
    position: relative;
  }
  .menuContainer {
    background-color: transparent;
    display: flex!important;
    position: relative;
    width: auto;
    height: auto;
  }
  .about {
    grid-template-columns: 0.3fr 1fr;
  }
  .userImageContainer {
    order: 1;
    margin-top: 0px;
  }
  .aboutDescription {
    order: 2;
  }
  .projectImage {
    height: 430px;
  }
  .blogs {
    justify-content: space-around;
  }
  .blogImage {
    display: block;
  }
  .socialIcons {
    display: none;
  }
  .socialMenu {
    display: flex;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .navIcon {
    display: none!important;
  }
  .navspacer {
    display: block;
  }
  .menuContainer {
    background-color: transparent;
    display: flex!important;
    width: auto;
    position: relative;
    height: auto;
  }
  .menu {
    display: flex!important;
    width: 500px;
    height: 40px;
    position: relative;
  }
  .about {
    grid-template-columns: 0.3fr 1fr;
  }
  .userImageContainer {
    order: 1;
    margin-top: 0px;
  }
  .aboutDescription {
    order: 2;
  }
  .projectImage {
    height: 460px;
  }
  .blogs {
    justify-content: space-around;
  }
  .blogImage {
    display: block;
  }
  .socialIcons {
    display: flex;
  }
  .socialMenu {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  .navIcon {
    display: none!important;
  }
  .navspacer {
    display: block;
  }
  .menuContainer {
    background-color: transparent;
    display: flex!important;
    position: relative;
    width: auto;
    height: auto;
  }
  .menu {
    width: 500px;
    height: 40px;
    display: flex!important;
    position: relative;
  }
  .about {
    grid-template-columns: 0.3fr 1fr;
  }
  .userImageContainer {
    order: 1;
    margin-top: 0px;
  }
  .aboutDescription {
    order: 2;
  }
  .projectImage {
    height: 480px;
  }
  .blogs {
    justify-content: space-around;
  }
  .blogImage {
    display: block;
  }
  .socialIcons {
    display: flex;
  }
  .socialMenu {
    display: none;
  }
}